/* --- Typography & Text styles --- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-light {
  padding: 125px 25px;
}

/* --- Links --- */
p {
  line-height: 1.75;
}

a {
  color:darkgreen;
  text-align: center
}

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section h2.section-heading {
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

section h3.section-subheading {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4.5rem;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

u {
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* --- Disabled Links --- */
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

/* --- Buttons --- */
.menu-button {
  display: none;
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  width: auto !important;
  border: 1px solid darkgreen !important;
  text-decoration: none;
  text-align: center;
}

.btn-primary,
.btn-secondary {
  background-color: white !important;
  border-color: darkgreen !important;
  color: darkgreen !important;
  border-width: medium;
}

.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: darkgreen !important;
  border-color: darkgreen !important;
  color: white !important;
}

.btn-primary:active, 
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/* --- Navigation Settings --- */
#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #53a18f;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 400;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: darkgreen;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #53a18f;
  background-color: white;
  border-bottom: 3px solid darkgreen;
}

/* --- Social Buttons --- */
.list-inline.social-buttons li {
  display: inline-block;
  margin-right: 10px;
}

ul.list-inline {
  list-style-type: none !important;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 2rem;
  line-height: 4rem;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: black;
}

ul.social-buttons li a:active, 
ul.social-buttons li a:focus, 
ul.social-buttons li a:hover {
  background-color: #fed136;
}

::-moz-selection,
::selection {
  background: #fed136;
  text-shadow: none;
}

img::selection,
img::-moz-selection {
  background: transparent;
}

.masthead {
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 2.5rem;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.service-heading {
  margin: 1.5rem 0;
}

/* --- Menu --- */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

/* --- Tooltip --- */
.data-tooltip{
  color: black;
  background-color: white;
  align-content: "middle";
  margin-right: 10%;
  margin-left: 10%;
}

.tooltip.show {
    opacity: 1;
    background-color: white;
    border: darkgreen;
}

/* Style for GitHub links */
.github-link {
  font-size: 18px;
  border: 1px darkgreen;
  text-align: center;
}

/* --- About --- */
#about {
  margin-top: 30px;
}

/* --- Customize the gallery items --- */
.centered-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  width: 300px;
  height: 300px;
  perspective: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
}

.item-front, .item-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid darkgreen;
  background-color: white;
  color: darkgreen;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  padding: 15px;
}

.item-back {
  transform: rotateY(180deg);
}

.item-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.item:hover .item-inner {
  transform: rotateY(180deg);
}

/* --- CSS for the image caroussell (poster) --- */

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #69b3a2;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: white;
}

.carousel-control-next, .carousel-control-prev {
  color: black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
    left: -121px;
}
.carousel-control-next {
    right: -121px;
}

.mytextrelated {
  text-transform: none;
  font-weight: normal !important;
  color: black;
}

.mytitlerelated {
  margin: 10px 0 10px;
  font-size: 14px;
}

.mybtnrelated {
  height: 380px;
  margin-top: 24px;
  padding-top: 24px;
}