/* --- Typography & Text styles --- */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  padding-left: 10px;
  padding-right: 10px;
}

.bg-light {
  padding: 150px 100px;
}

/* --- Links --- */
p {
  line-height: 1.75;
}

a {
  color:darkgreen;
  text-align: center
}

/* --- Headings --- */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section h2.section-heading {
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

section h3.section-subheading {
  font-size: 1.6rem;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 4.5rem;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

u {
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 1px solid #000;
}

/* --- Disabled Links --- */
.isDisabled {
  color: currentColor;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}

/* --- Buttons --- */
.menu-button {
  display: none;
}

.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 1.4rem;
  width: auto !important;
  border: 1px solid darkgreen !important;
  text-decoration: none;
  text-align: center;
}

.btn-primary,
.btn-secondary {
  background-color: white !important;
  border-color: darkgreen !important;
  color: darkgreen !important;
  border-width: medium;
}

.btn-primary:active, 
.btn-primary:focus, 
.btn-primary:hover,
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
  background-color: darkgreen !important;
  border-color: darkgreen !important;
  color: white !important;
}

.btn-primary:active, 
.btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

/* --- Navigation Settings --- */
#navbarWrapper a.navbar-brand {
  text-decoration: none !important;
  margin-top: 5px;
  font-weight: bold;
}

#navbarWrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9); /* Adjust the background color as needed */
  transition: background-color 0.3s; /* Add a smooth transition effect */
  z-index: 1000; /* Ensure it's on top of other elements */
  padding: 10px;
}

/* Add this to change the background color when scrolling */
#navbarWrapper.navbar-scrolled {
  background-color: rgba(255, 255, 255, 0.95); /* Adjust the alpha for the scrolled state */
}

#topRightNav {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 150px !important;
}

#topRightNav li {
  display: inline-block;
  margin-left: 20px; /* Adjust as needed for spacing */
  margin-top: 5px;
}

#topRightNav a,
#home-nav a {
  text-decoration: none;
  color: darkgreen;
  font-weight: bold;
  font-size: 1.2rem; /* Adjust the font size as needed */
}


/* --- Social Buttons --- */
.list-inline.social-buttons li {
  display: inline-block;
  margin-right: 10px; /* Adjust the margin as needed for spacing */
}

ul.list-inline {
  list-style-type: none !important;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 2rem;
  line-height: 4rem;
  display: inline-block;
  width: 4rem;
  height: 4rem;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: black;
}

ul.social-buttons li a:active, 
ul.social-buttons li a:focus, 
ul.social-buttons li a:hover {
  background-color: #fed136;
}

::-moz-selection {
  background: darkgreen;
  text-shadow: none;
}

::selection {
  background: darkgreen;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.masthead {
  text-align: center;
  color: black;
  position: relative;
  overflow: hidden;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 150px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 1.4rem;
  font-style: italic;
  line-height: 2.2rem;
  margin-bottom: 2.5rem;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 5rem;
  font-weight: 700;
  line-height: 5rem;
  margin-bottom: 2.5rem;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.service-heading {
  margin: 1.5rem 0;
}

/* --- Menu --- */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu > .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
  display: block;
}

.dropdown-submenu > a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
  left: -100%;
  margin-left: 10px;
  border-radius: 6px 0 6px 6px;
}

/* --- Tooltip --- */
.data-tooltip{
  color: black;
  background-color: white;
  align-content: "middle";
  margin-right: 10%;
  margin-left: 10%;
}

.tooltip.show {
    opacity: 1;
    background-color: white;
    border: darkgreen;
}

/* Style for GitHub links */
.github-link {
  font-size: 18px;
  border: 1px darkgreen;
  text-align: center;
}

/* --- About --- */
#about {
  margin-top: 30px;
}

.centered-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Horizontally center items */
  align-items: center; /* Vertically center items */
}

/* Style for the course grid */
.course-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Adjust the gap between courses */
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.course {
  margin: 10px;
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  perspective: 1000px; /* For 3D effect */
  position: relative;
  cursor: pointer;
  text-align: center;
}

.course a {
  text-decoration: none;
  color: black;
}

.course-description p {
  font-size: 14px;
  color: darkgreen;
}

.course-description {
  margin-top: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgreen !important;
  background-color: white; /* Background color for the name */
  color: darkgreen;
  transform: rotateY(180deg); /* Initially hide the name with a 180-degree rotation */
  backface-visibility: hidden; /* Hide the backface of the name */
  transition: transform 0.5s; /* Add a smooth transition effect */
}

.course-title {
  font-size: 16px;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid darkgreen !important;
  background-color: white; /* Background color for the name */
  color: darkgreen;
  transform: rotateY(0deg); /* Initially the title is not rotated */
  backface-visibility: hidden; /* Hide the backface of the name */
  transition: transform 0.5s; /* Add a smooth transition effect */
}

.course:hover .course-title {
  transform: rotateY(180deg);
}

.course:hover .course-description {
  transform: rotateY(0deg); /* Rotate the name back to its original state on hover */
}

.course:hover .course-title {
  transform: scaleX(-1);
}

/* ------------------------------------------------------------------------------------------------------------------- */
/* Customize the gallery of the portfolio section
/* ------------------------------------------------------------------------------------------------------------------- */

.portfolio-item {
  perspective: 1000px; /* For 3D effect */
  border: 1px solid darkgreen !important;
}

.portfolio-item,
.portfolio-link {
  position: relative;
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border-radius: 2%;
  transform-style: preserve-3d; /* Preserve 3D transformations */
  transition: transform 0.5s; /* Add a smooth transition effect for the flip */
}

.portfolio-item,
.portfolio-link:hover {
  transform: rotateY(180deg); /* Rotate to the back face on hover */
}

.portfolio-front,
.portfolio-back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden; /* Hide the backface of the elements */
}

.portfolio-back {
  transform: rotateY(180deg); /* Initially hide the back face with a 180-degree rotation */
}

.portfolio-front img {
  max-width: 100%;
  height: auto;
}

.captionPortfolio {
  font-size: 16px;
  padding: 8px;
  margin: 0px;
  text-align: center;
  border: 1px solid darkgreen !important;
  background-color: white; /* Background color for the front face */
  color: darkgreen;
}

.portfolio-back {
  background: darkgreen;
  opacity: 0;
  border: 1px solid darkgreen !important;
  transition: opacity 0.3s; /* Add a smooth transition effect for the back face */
}

.portfolio:hover .portfolio-front {
  transform: rotateY(180deg);
}

.portfolio:hover .portfolio-back{
  transform: rotateY(0deg); /* Rotate the name back to its original state on hover */
}

.portfolio:hover .portfolio-front {
  transform: scaleX(-1);
}

/* CSS for the image caroussell (poster) */

    /* Slideshow container */
    .slideshow-container {
      max-width: 1000px;
      position: relative;
      margin: auto;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 50%;
      width: auto;
      padding: 16px;
      margin-top: -22px;
      color: white;
      font-weight: bold;
      font-size: 18px;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0,0,0,0.8);
    }

    /* Caption text */
    .text {
      color: #f2f2f2;
      font-size: 15px;
      padding: 8px 12px;
      position: absolute;
      bottom: 8px;
      width: 100%;
      text-align: center;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #69b3a2;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: white;
    }

/* ------------------------------------------------------------------------------------------------------------------- */
/* MISTAKE CAROUSSEL CUSTOM
/* ------------------------------------------------------------------------------------------------------------------- */

.carousel-control-next, .carousel-control-prev {
  color: black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='black' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev {
    left: -121px;
}
.carousel-control-next {
    right: -121px;
}

.mytextrelated {
  text-transform: none;
  font-weight: normal !important;
  color: black;
}

.mytitlerelated {
  margin: 10px 0 10px;
  font-size: 14px;
}

.mybtnrelated {
  height: 380px;
  margin-top: 24px;
  padding-top: 24px;
}